{{#each this}}
<div>

<li class="actors_item">
  <div class="actor_photo">
    <img class="actor_image" src="https://image.tmdb.org/t/p/w500/{{profile_path}}" alt="">
  </div>
  <span class="actor_name">{{name}}</span>
</li>
</div>
{{/each}}
