<span class="spacer"></span>
<span class="spacer"></span>
<footer class="footer">
  <ul class="footer_socialIcons">
    <li>
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer_socialIcons_item">
          <use
            href="../img/footer_icon/sprite-footer.svg#facebook-logo-button"
          ></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer_socialIcons_item">
          <use
            href="../img/footer_icon/sprite-footer.svg#play-button-silhouette"
          ></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
        <svg class="footer_socialIcons_item">
          <use href="../img/footer_icon/sprite-footer.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer_socialIcons_item">
          <use
            href="../img/footer_icon/sprite-footer.svg#social-instagram-circle"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
  <ul class="footer_menu">
    <li>
      <a class="footer_menu_text" href="#">Home</a>
    </li>
    <li>
      <a class="footer_menu_text" href="#">Films</a>
    </li>
    <li>
      <a class="footer_menu_text" href="#">TV series</a>
    </li>
    <li>
      <a class="footer_menu_text" href="#">Copyright holders</a>
    </li>
  </ul>
</footer>
