<header class="head">
  <nav class="head__nav">
    <ul class="head__list">
      <li class="head__item">
        <a href="#" class="head__link">
          <svg class="whitepeper-svg">
            <use href="../img/header.svg#menu"></use>
          </svg>
        </a>
      </li>
      <li class="head__item">
        <a href="#" class="head__link-logo">
          <img class="head__logo-img" src="../img/2-layers.png" alt="">
        </a>
      </li>
    </ul>
    
    <a class="head__search" href="#">
      <svg class="whitepeper-svg">
        <use href="../img/symbol-defs.svg#icon-search"></use>
      </svg>
    </a>
  </nav>
</header>
