<header class="head">
  <nav class="head__nav">
    <ul class="head__list">
      <button class="head__item burger__button">
        <a href="#" class="head__link">
          <svg class="whitepeper-svg">
            <use href="../img/header.svg#menu"></use>
          </svg>
        </a>
      </button>
      <li class="head__item">
        <a href="./index.html" class="head__link-logo">
          <img class="head__logo-img" src="../img/2-layers.png" alt="" />
        </a>
      </li>
    </ul>
    <a class="head__search" href="#">
      <svg class="search-svg">
        <use href="../img/symbol-defs.svg#icon-search"></use>
      </svg>
      <form class="headerSearch">
        <input class="headerSearch_iteam_btn_submit" type="submit" value=" " />
        <input name="film" class="headerSearch_iteam_btn_search" type="text" placeholder="Search" autocomplete="off" />
      </form>
      <div class="lightbox">
        <div class="lightbox_iteam">
          <p class="lightbox_iteam_text">Mooogle</p>
        </div>
        <form class="lightbox_iteam_btn">
          <input class="lightbox_iteam_btn_submit" type="submit" value=" " />
          <input name="film" class="lightbox_iteam_btn_search" type="text" placeholder="Search" autocomplete="off" />
        </form>
      </div>
      <div class="lightbox_shadow"></div>
    </a>
  </nav>
</header>
