<header class="head">
  <nav class="head__nav">
    <ul class="head__list">
      <li class="head__item">
        <a href="#" class="head__link">
          <svg class="whitepeper-svg" id="menuBurger">
            <use href="../img/header.svg#menu"></use>
          </svg>
        </a>
      </li>
      <li class="head__item">
        <a href="#" class="head__link-logo">
          <img class="head__logo-img" src="../img/2-layers.png" alt="">
        </a>
      </li>
    </ul>
    <form action="search" id="searchForm">
        <input type="text" id="searchInput" name="search" placeholder="Search" />

      </form>
    <a class="head__search" href="#">
      <svg class="whitepeper-svg">
        <use href="../img/symbol-defs.svg#icon-search"></use>
      </svg>
      <div class="lightbox">
        <div class="lightbox_iteam">
          <p class="lightbox_iteam_text">Mooogle</p>
        </div>
        <div class="lightbox_iteam_btn">
          <input
            class="lightbox_iteam_btn_submit"
            type="submit"
            value=" "
          />
          <input
            class="lightbox_iteam_btn_search"
            type="text"
            placeholder="Search"
          />
        </div>
      </div>
      <!-- <div class="lightbox_shadow"></div> -->
    </a>
  </nav>
</header>

