<div class="container">
  <ul class="galary">
    <li class="movie">
        <img class="movie-logo" src="../img/movie-1.png" alt="movie-title">
        <p class="movie-title">Темные времена(2017)</p>
        <svg class="svg-bell">
          <use href="../img/sprite.svg#bell"></use>
        </svg>
        <svg class="svg-star">
          <use href="../img/sprite.svg#star-full"></use>
        </svg>
      </li>
      <li class="movie">
        <img class="movie-logo" src="../img/movie-2.png" alt="movie-title">
        <p class="movie-title">Приключения Паддингтона 2 (2017)</p>
        <svg class="svg-bell">
          <use href="../img/sprite.svg#bell"></use>
        </svg>
        <svg class="svg-star">
          <use href="../img/sprite.svg#star-full"></use>
        </svg>
      </li>
      <li class="movie">
        <img class="movie-logo" src="../img/movie-3.png" alt="movie-title">
        <p class="movie-title">Атлантида(2017)</p>
        <svg class="svg-bell">
          <use href="../img/sprite.svg#bell"></use>
        </svg>
        <svg class="svg-star">
          <use href="../img/sprite.svg#star-full"></use>
        </svg>
      </li>
      <li class="movie">
        <img class="movie-logo" src="../img/movie-4.png" alt="movie-title">
        <p class="movie-title">Большая игра(2017)</p>
        <svg class="svg-bell">
          <use href="../img/sprite.svg#bell"></use>
        </svg>
        <svg class="svg-star">
          <use href="../img/sprite.svg#star-full"></use>
        </svg>
      </li>
      <li class="movie">
        <img class="movie-logo" src="../img/movie-1.png" alt="movie-title">
        <p class="movie-title">Темные времена(2017)</p>
        <svg class="svg-bell">
          <use href="../img/sprite.svg#bell"></use>
        </svg>
        <svg class="svg-star">
          <use href="../img/sprite.svg#star-full"></use>
        </svg>
      </li>
      <li class="movie">
        <img class="movie-logo" src="../img/movie-2.png" alt="movie-title">
        <p class="movie-title">Приключения Паддингтона 2 (2017)</p>
        <svg class="svg-bell">
          <use href="../img/sprite.svg#bell"></use>
        </svg>
        <svg class="svg-star">
          <use href="../img/sprite.svg#star-full"></use>
        </svg>
      </li>
    </ul>
</div>
