<nav class="nav__film">
  <a class="nav__main" data-type="movie" href="#">MOVIES</a>
  <a class="nav__main" data-type="tv" href="#">TV SERIES</a>
  <a class="nav__main" data-type="favorite" href="#">FAVORITES</a>
</nav>
<section class="sort container">
  <h2 class="sort__text">Сategories</h2>
  <form action="#">
  <div class="sort__name selectFix">
    <select class="sort__name select_box" name="sortName" id="sortName">
      <option value="" hidden disabled selected>By name</option>
      <option value="title">By title</option>
      <option value="popularity">Popular</option>
    </select>
    <select class="select_box" name="sortDate" id="sortDate">
      <option value="" hidden disabled selected>By date</option>
      <option value="release_date">New</option>
      <option value="release_dateOld">Premieres</option>
    </select>
  </div>
</form>
</section>
