.footer {
  width: 100%;
  background-color: #77c1bb;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer_socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 200px;
}

.footer_socialIcons_item {
  width: 41px;
  height: 41px;
  content: '';
}

.footer_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  width: 356px;
}

.footer_menu_text {
  font-size: 16pt;
  color: black;
}
