.footer {
  width: 100%;
  background-color: #77c1bb;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer_socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 200px;
}

.footer_socialIcons_item {
  width: 26px;
  height: 26px;
  content: '';
  fill: rgba(100%, 100%, 100%, 1);
}

.footer_socialIcons_item:hover {
  fill: rgba(100%, 100%, 100%, 1);
  fill: rgba(0%, 0%, 0%, 1);
  transition: all 0.5s;
}

.footer_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  width: 290px;
}

.footer_menu_text {
  font-size: 12pt;
  color: rgba(0%, 0%, 0%, 0.7);
  border-bottom: 1px solid #016492;
}

.footer_menu_text:hover {
  color: rgba(0%, 0%, 0%, 1);
  transition: all 0.5s;
  border-bottom: 0px;
}

