li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.head {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #77c1bb;

}

.head__nav {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0;
}

.head__list {
  padding: 0;
  width: 167px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.head__link-logo {
  display: flex;

}

.whitepeper-svg {
  width: 25px;
  height: 17px;
}


@media (min-width: 768px) {
  .head__list {
    // width: 22%;
    // justify-content: space-between;
  }


}

@media (min-width: 960px) {
  .head__list {
    // width: 15%;
  }
}

// /search_nav/

.head__search {
  position: relative;
  text-align: center;
}

.lightbox {
  background-color: #77c1bb;
  width: 100vw;
  height: 449px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 3;
  visibility: hidden;
  // animation: current-anim-name, 2s, ease-in;
  // animation-name: current-anim-name;
  // animation-duration: 2s;
  // animation-delay: 5s;
}

.lightbox_is_open {
  visibility: visible;
  cursor: default;
  // animation: current-anim-name, 2s, ease-in;
}

// @keyframes current-anim-name {
//   35% {
//     height: 20px;
//     width: 50vw;
//     background-color: #77c1bb;
//   }
//   50% {
//     height: 200px;
//     width: 70vw;
//   }
//   100% {
//     height: 449px;
//     width: 100vw;
//     background-color: black;
//   }
// }

.lightbox_shadow_is_open {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.lightbox_iteam::before {
  content: '';
  background-image: url(../img/logo_cow.png);
  // background-image: url(../img/header/cow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  width: 164px;
  height: 144px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 14px;
}

.lightbox_iteam_text {
  color: rgba(55, 44, 72, 255);
  font-size: 24px;
  margin: 0;
  margin-bottom: 80px;
  font-weight: 600;
}

.lightbox_iteam_btn {
  display: flex;
  justify-content: center;
  width: 311px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.lightbox_iteam_btn_submit {
  border: 0;
  background-color: #77c1bb;
  width: 28px;
  height: 27px;
  background-image: url(../img/search2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -3px;
  left: 4px;
  outline: none;
}

.lightbox_iteam_btn_search {
  border: 0;
  border-bottom: 2px solid white;
  background-color: #77c1bb;
  color: white;
  padding-left: 45px;
  font-size: 16pt;
  outline: none;
}

.lightbox_iteam_btn_search::after {
  content: "";
  background-image: url(../img/symbol-defs.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 28px;
  height: 27px;
  outline: none;
  display: block;
}

.lightbox_iteam_btn_search::placeholder {
  color: white;
}
