body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
nav {
  background-color: #68a097;
}
.container{
  max-width: 1024px;
  margin: 0 auto;
}
.galary{
  padding: 0px;
  padding-top: 10px;
  width: 360px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  list-style: none;
}
.movie-logo{
  width: 346px;
  height: 177px;
}
.movie-title{
  margin: 0;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 77%;
  left: 8%
}
.svg-bell{
  position: absolute;
  top: 15%;
  left: 88%;
  width: 15px;
  height: 18px;
  fill:#fff;
  &:hover{
    width: 20px;
    height: 19px;
  }
}
.svg-star{
  position: absolute;
  top: 15%;
  left: 79%;
  width: 17px;
  height: 17px;
  fill:#fff;
  &:hover{
    width: 23px;
    height: 20px;
  }
}

.movie{
  position: relative;
  margin: 0;
  padding: 0 6px;
  margin-bottom: 10px;
}
@media (min-width:767px){
  .galary{
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: auto;
    background-color: #red;
    margin: 0 auto;
  }
  .galary{
    padding-top: 20px;
  }
  .movie{
    margin-bottom: 15px;
  }
  .movie-title{
    top: 82%;
    left: 4%;
  }
  .movie-logo{
    width: 353px;
    height: 177px;
  }
}

@media (min-width:1023px){
.galary{
  width: 1000px;
}
  .movie-logo{
    width: 481px;
    height: 248px;
  }
  .movie-title{
    top: 88%;
    left: 4%;
  }

}
