body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.gallery {
  width: 360px;
  padding: 0px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  list-style: none;
}

.movie {
  position: relative;
  margin: 0;
  padding: 0 6px;
  margin-bottom: 10px;
}

.movie-logo {
  width: 346px;
  height: 177px;
}

.movie::before {
  content: "";
  background-image: url('../img/shadow.png');
  display: block;
  width: 346px;
  height: 177px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.movie:hover img {
  top: -4px;
  left: -4px;
  position: relative;
  top: 0;
  left: 0;
}

.movie-title {
  margin: 0;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 77%;
  left: 8%;
}

.svg-bell {
  position: absolute;
  top: 15%;
  left: 88%;
  width: 15px;
  height: 18px;
  fill: #fff;

  &:hover {
    width: 20px;
    height: 19px;
  }
}

.svg-star {
  position: absolute;
  top: 15%;
  left: 79%;
  width: 17px;
  height: 17px;
  fill: #fff;

  &:hover {
    width: 23px;
    height: 20px;
  }
}

@media (min-width:767px) {
  .gallery {
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: auto;
    margin: 0 auto;
  }

  .movie-logo {
    width: 353px;
    height: 177px;
  }

  .galary {
    padding-top: 20px;
  }

  .movie {
    margin-bottom: 15px;
  }

  .movie:hover img {
    top: -4px;
    left: -4px;
    position: relative;
    top: 0;
    left: 0;
  }

  .movie::before {
    content: "";
    background-image: url('../img/shadow.png');
    display: block;
    width: 354px;

    .movie-title {
      top: 82%;
      left: 4%;
    }

    .movie-logo {
      width: 353px;
      height: 177px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .movie-title {
      top: 78%;
      left: 4%;
    }
  }
}
  @media (min-width:1023px) {
    .gallery {
      width: 1000px;
    }

    .movie-logo {
      width: 481px;
      height: 248px;
    }

    .movie::before {
      content: "";
      background-image: url('../img/shadow.png');
      display: block;
      background-size: cover;
      width: 481px;
      height: 248px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .movie:hover img {
      top: -4px;
      left: -4px;
      position: relative;
      top: 0;
      left: 0;
    }

    .movie-title {
      top: 88%;
      left: 4%;
    }

    // .whitepeper-svg{
    //   display: block;
    //   width: 500px;
    //   height: 800px;
    //   background-color: black;

    // }

  }
